.register-confirm-component {
  height: 30vh;
}

.register-confirm-component__main-container {
  .main-container__text-node {
    color: rgb(28, 216, 28);
    position: relative;
    top: 50%;
    font-size: 1.5em;
    padding-top: 5%;
  }
}
