<div class="container-fluid app-component">
  <div class="row app-component__navbar" *ngIf="!logged">
    <div class="col-6 navbar__logo-container">
      <span routerLink="/home" class="logo-container__link-span"></span>
      <img
        src="../assets/Img/logo_transparent.png"
        class="logo-container__logo-img"
        alt="Logo"
      />
    </div>
    <div class="btn-group navbar__button-group">
      <button
        routerLink="/search"
        type="button"
        class="navbar__button-link btn btn-primary"
      >
        Szukaj
      </button>
      <button
        routerLink="/login"
        type="button"
        class="navbar__button-link btn btn-primary"
      >
        Logowanie
      </button>
      <button
        routerLink="/register"
        type="button"
        class="navbar__button-link btn btn-primary"
      >
        Rejestracja
      </button>
    </div>
    <div class="navbar__dropdown">
      <button
        (click)="toggleMenu(true)"
        class="btn btn-secondary dropdown__button"
        type="button"
        id="menuId"
      ></button>
      <div
        [@showHideMenu]="displayHamburgerMenu.value ? 'visible' : 'hidden'"
        class="dropdown__menu"
      >
        <button
          routerLink="/search"
          (click)="toggleMenu()"
          class="dropdown__item"
        >
          <i class="fas fa-search item__icon"></i>Szukaj
        </button>
        <button
          routerLink="/login"
          (click)="toggleMenu()"
          class="dropdown__item"
        >
          <i class="fas fa-sign-in-alt item__icon"></i>Logowanie
        </button>
        <button
          routerLink="/register"
          (click)="toggleMenu()"
          class="dropdown__item"
        >
          <i class="fas fa-file-signature item__icon"></i>Rejestracja
        </button>
      </div>
    </div>
  </div>
  <!--MENU FOR LOGGED USER-->
  <div class="row app-component__navbar" *ngIf="logged">
    <div class="col-3 col-xl-6">
      <span routerLink="/home" class="logo-container__link-span"></span>
      <img
        src="../assets/Img/logo_transparent.png"
        class="logo-container__logo-img"
        alt="Logo"
      />
    </div>
    <div class="btn-group navbar__button-group">
      <button
        routerLink="/search"
        type="button"
        class="navbar__button-link btn btn-primary"
      >
        Szukaj
      </button>
      <button
        routerLink="/user/companyData"
        type="button"
        class="navbar__button-link btn btn-primary"
      >
        Twoje firmy
      </button>
      <button
        routerLink=""
        type="button"
        class="navbar__button-link btn btn-primary"
      >
        Ulubione zakłady
      </button>
      <button
        (click)="toggleMenu(false)"
        type="button"
        class="navbar__button-link btn btn-primary"
        id="dropdownId"
      >
        Profil użytkownika
        <ul
          [@showHideDropdown]="displayDropdown.value ? 'visible' : 'hidden'"
          class="button-link__dropdown"
        >
          <a *ngIf="userREST" type="button" class="dropdown__item">
            <li class="item__username">
              Zalogowany jako:<strong>{{ userREST.loginName }}</strong>
            </li></a
          >
          <a
            routerLink="/user/personalData"
            type="button"
            class="dropdown__item"
            *ngIf="personalData"
            ><li>Dane osobowe</li></a
          >
          <a routerLink="/user/accountData" type="button" class="dropdown__item"
            ><li>Dane konta</li></a
          >
          <a type="button" class="dropdown__item" (click)="logOut()"
            ><li>Wyloguj</li></a
          >
        </ul>
      </button>
    </div>
    <div class="navbar__dropdown col-9">
      <button
        (click)="toggleMenu(true)"
        class="btn btn-secondary dropdown__button"
        type="button"
        id="menuId"
      ></button>
      <div
        [@showHideMenu]="displayHamburgerMenu.value ? 'visible' : 'hidden'"
        class="dropdown__menu"
      >
        <button class="dropdown__item dropdown__username" *ngIf="userREST">
          Zalogowany jako:<strong>{{ userREST.loginName }}</strong>
        </button>
        <button
          routerLink="/search"
          class="dropdown__item"
          (click)="toggleMenu()"
        >
          <i class="fas fa-search item__icon"></i>Szukaj
        </button>
        <button
          routerLink="/user/companyData"
          class="dropdown__item"
          (click)="toggleMenu()"
        >
          <i class="fas fa-building item__icon"></i>Twoje firmy
        </button>
        <button
          routerLink="user/personalData"
          class="dropdown__item"
          (click)="toggleMenu()"
          *ngIf="personalData"
        >
          <i class="fas fa-id-card item__icon"></i>Dane osobowe
        </button>
        <button
          routerLink="user/accountData"
          class="dropdown__item"
          (click)="toggleMenu()"
        >
          <i class="fas fa-id-card item__icon"></i>Dane konta
        </button>
        <button routerLink="" class="dropdown__item" (click)="toggleMenu()">
          <i class="fas fa-synagogue item__icon"></i>Ulubione zakłady
        </button>
        <button class="dropdown__item" (click)="toggleMenu(); logOut()">
          <i class="fas fa-sign-out-alt item__icon"></i>Wyloguj
        </button>
      </div>
    </div>
  </div>
  <div class="app-component__router-outlet">
    <app-loader></app-loader>
    <router-outlet class="app-component__outlet"></router-outlet>
  </div>

  <div class="app-component__nearby-container container-fluid">
    <h5 class="text-center nearby_container__text">Obok ciebie</h5>
    <button
      (click)="toggleNearbyBlock()"
      class="nearby-container__toggle btn btn-primary"
    >
      {{ nearby_toggle ? 'Pokaż' : 'Schowaj' }}
    </button>
    <div
      [@showHide]="visible ? 'visible' : 'hidden'"
      class="row nearby-container__data-container"
    >
      <div>Dane firmy</div>
    </div>
  </div>
</div>

<div class="row app-component__footer">
  <p class="footer__text">
    <i class="fa fa-copyright" aria-hidden="true"></i>Damian Sołtysiuk,Mateusz
    Szałkowski
  </p>
</div>

<app-snackbar></app-snackbar>

