<div class="container-fluid main-container">

  <div class="row navbar" *ngIf="!logged">
    <div class="col-6 logodiv">
        <span routerLink="/home" class="linkspan"></span>
        <img src="../assets/Img/logo_transparent.png" class="img_logo" alt="Logo">
    </div>
    <div class="btn-group menu">
      <button routerLink="/search" type="button" class="btn btn-primary">Szukaj</button>
      <button routerLink="/login" type="button" class="btn btn-primary">Logowanie</button>
      <button routerLink="/register" type="button" class="btn btn-primary">Rejestracja</button>
    </div>
    <div class="dropdown">
      <button (click)="toggleMenu()" class="btn btn-secondary dropdown-toggle buttmenu" type="button" id="menuId">
        Menu
      </button>
      <div [@showHideMenu] = "displayMenu.value ? 'visible':'hidden'" class="dropdown-menua">
        <button routerLink="/search" (click)="toggleMenu()" class="dropdown-itema">Szukaj</button>
        <button routerLink="/login" (click)="toggleMenu()" class="dropdown-itema">Logowanie</button>
        <button routerLink="/register" (click)="toggleMenu()" class="dropdown-itema">Rejestracja</button>
      </div>

    </div>
  </div>
  <!--MENU FOR LOGGED USER-->
  <div class="row navbar" *ngIf="logged">
    <div class="col-3 col-xl-6">
      <span routerLink="/home" class="linkspan"></span>
      <img src="../assets/Img/logo_transparent.png" class="img_logo" alt="Logo">
    </div>
    <div class="btn-group menu">
      <button routerLink="/search" type="button" class="btn btn-primary">Szukaj</button>
      <button routerLink="" type="button" class="btn btn-primary">Twoje firmy</button>
      <button routerLink="" type="button" class="btn btn-primary">Dane osobowe</button>
      <button routerLink="" type="button" class="btn btn-primary">Ulubione zakłady</button>
      <button routerLink="" type="button" class="btn btn-primary">Wyloguj</button>
    </div>
    <div class="dropdown">
      <button (click)="toggleMenu()" class="btn btn-secondary dropdown-toggle buttmenu" type="button" id="menuId">
        Menu
      </button>
      <div [@showHideMenu] = "displayMenu.value ? 'visible':'hidden'" class="dropdown-menua">
        <button routerLink="/search" class="dropdown-itema" (click)="toggleMenu()">Szukaj</button>
        <button routerLink="" class="dropdown-itema" (click)="toggleMenu()">Twoje firmy</button>
        <button routerLink="" class="dropdown-itema" (click)="toggleMenu()">Dane osobowe</button>
        <button routerLink="" class="dropdown-itema" (click)="toggleMenu()">Ulubione zakłady</button>
        <button routerLink="" class="dropdown-itema" (click)="toggleMenu()">Wyloguj</button>
      </div>

    </div>
  </div>


  <router-outlet class="outlet"></router-outlet>

  <div class="container-fluid">
    <h5 class="text-center nearby-text">Obok ciebie</h5>
    <button (click)="toggleNearbyBlock()" class="toggleNearby btn btn-primary">{{nearby_toggle ?'Pokaż':'Schowaj'}}</button>
    <div [@showHide] = "visible ? 'visible':'hidden'" class="row nearby">
      <div>Dane firmy</div>
    </div>
  </div>
</div>

<div class="row footer">
  <p><i class="fa fa-copyright" aria-hidden="true"></i>Damian Sołtysiuk,Mateusz Szałkowski</p>
</div>
