@import '../commonStyles/shared';

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.main-container {
  min-height: calc(100vh - 50px);
}

.menu {
  .btn:first-child {
    border-top-left-radius: 20px;
  }

  .btn:last-child {
    border-bottom-right-radius: 20px;
  }
}


.navbar {
  background: linear-gradient(-50deg, $bgcolor, $bgcolor1);
  border-bottom: 2px solid whitesmoke;



}


.footer {
  height: 40px;

  p {
    margin: auto;
  }

  margin:0;
  color:white;
  margin-top:2%;
  background:linear-gradient(-50deg, $bgcolor1, $bgcolor);
  width:100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.logOut_message{
  display:none;
}
.menu {
  button {
    background-color: $bgcolor1;
    border: 1px solid $btborder;
    transition: 0.5s;

    &:hover {
      background-color: $bgcolor;
      opacity: 0.8;
      
    }
  }

  @include phone {
    button {
      display: none;
    }
  }

  position: relative;
  left:-5%;
}

.fa-copyright {
  margin-right: 5px;
}

.img_logo {
  max-width: 150px;
  left: -10px;
  transition: 0.5s;

  @include tablet {
    max-width: 300px;
    top: -120px;

  }

  @include tabletbig {
    max-width: 220px;
    left: -20px;
    top: -80px;

  }

  @include desktop {

    max-width: 350px;
    top: -140px;

  }

  position: absolute;
  top:-70px;


}

.logodiv {
  padding: 0;
}

.linkspan {
  position: absolute;
  z-index: 1;
  width: 295px;
  height: 50px;

  &:hover {
    cursor: pointer;
  }

  &:hover+img {
    opacity: 0.8;
    
  }

  @include phone {
    top: -10px;
    left: 3px;
    width: 122px;
    height: 20px;
  }

  @include tabletbig {
    width: 180px;
    height: 30px;
    left: 2px;
    top: 8px;
  }
}

.dropdown-menua{
  position: absolute;
  @include boxShadow(0px 4px 5px 0px rgba(187, 185, 191, 1));
  border: 1px solid $bgcolor;
  margin-top:10px;
  border-radius: 10px;
  z-index: 1;
  button{
    float:right;
    width:100%;
    background-color:white;
    border:0;
    transition: 1s;
    padding:5px;
    &:first-child{
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    &:last-child{
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    &:hover{
      background-color: whitesmoke;
    color: $linkcolor;
    
    }
    &:focus{
      outline: none;
    }
  }
}

.dropdown-menu {
  left: -50px;
  width: 180px;
  text-align: center;
  border: 1px solid $bgcolor;
  @include boxShadow(0px 4px 5px 0px rgba(187, 185, 191, 1));

  button:hover {
    background-color: whitesmoke;
    color: $linkcolor;
    transition: 1s;
  }

}

.dropdown {
  position: relative;
  left: -5%;

  @include tablet {
    display: none;
  }

  @include desktop {
    display: none;
  }

  .buttmenu {
    background-color: $bgcolor1;
    border: 1px solid $btborder;
    width: 130px;

    &:hover {
      opacity: 0.8;
      background-color: $bgcolor;
    }
  }

}

.nearby {
  margin: auto;
  width: 80vw;
  border: 1px solid red;
}

.toggleNearby {
  background-color: $bgcolor;
  border: 1px solid $btborder;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 0;

  &:hover {
    background-color: $bgcolor1;
    opacity: 0.8;

  }
}

.nearby-text {
  margin-top: 100px;
}
