<div class="container-fluid main-container">

  <div class="row main-container__navbar" *ngIf="!logged">
    <div class="col-6 navbar__logo-container">
        <span routerLink="/home" class="navbar__link-span"></span>
        <img src="../assets/Img/logo_transparent.png" class="navbar__logo-img" alt="Logo">
    </div>
    <div class="btn-group navbar__button-group">
      <button routerLink="/search" type="button" class="navbar__button-link btn btn-primary">Szukaj</button>
      <button routerLink="/login" type="button" class="navbar__button-link btn btn-primary">Logowanie</button>
      <button routerLink="/register" type="button" class="navbar__button-link btn btn-primary">Rejestracja</button>
    </div>
    <div class="navbar__dropdown">
      <button (click)="toggleMenu()" class="btn btn-secondary dropdown-toggle dropdown__button" type="button" id="menuId">
        Menu
      </button>
      <div [@showHideMenu] = "displayMenu.value ? 'visible':'hidden'" class="dropdown__menu">
        <button routerLink="/search" (click)="toggleMenu()" class="dropdown__item">Szukaj</button>
        <button routerLink="/login" (click)="toggleMenu()" class="dropdown__item">Logowanie</button>
        <button routerLink="/register" (click)="toggleMenu()" class="dropdown__item">Rejestracja</button>
      </div>

    </div>
  </div>
  <!--MENU FOR LOGGED USER-->
  <div class="row main-container__navbar" *ngIf="logged">
    <div class="col-3 col-xl-6">
      <span routerLink="/home" class="navbar__link-span"></span>
      <img src="../assets/Img/logo_transparent.png" class="navbar__logo-img" alt="Logo">
    </div>
    <div class="btn-group navbar__button-group">
      <button routerLink="/search" type="button" class="navbar__button-link btn btn-primary">Szukaj</button>
      <button routerLink="" type="button" class="navbar__button-link btn btn-primary">Twoje firmy</button>
      <button routerLink="user/personalData" type="button" class="navbar__button-link btn btn-primary">Dane osobowe</button>
      <button routerLink="" type="button" class="navbar__button-link btn btn-primary">Ulubione zakłady</button>
      <button type="button" class="navbar__button-link btn btn-primary" (click)="logOut()">Wyloguj</button>
    </div>
    <div class="navbar__dropdown">
      <button (click)="toggleMenu()" class="btn btn-secondary dropdown-toggle dropdown__button" type="button" id="menuId">
        Menu
      </button>
      <div [@showHideMenu] = "displayMenu.value ? 'visible':'hidden'" class="dropdown__menu">
        <button routerLink="/search" class="dropdown__item" (click)="toggleMenu()">Szukaj</button>
        <button routerLink="" class="dropdown__item" (click)="toggleMenu()">Twoje firmy</button>
        <button routerLink="user/personalData" class="dropdown__item" (click)="toggleMenu()">Dane osobowe</button>
        <button routerLink="" class="dropdown__item" (click)="toggleMenu()">Ulubione zakłady</button>
        <button class="dropdown__item" (click)="toggleMenu(); logOut()">Wyloguj</button>
      </div>

    </div>
  </div>

  <div  #logOutMessage [@showHideMenu] = "logOut_success ? 'visible':'hidden'" class="text-center main-container__logout-message"><p class="logout-message__success text-success">Pomyślnie wylogowano</p></div>
  <router-outlet class="main-container__outlet"></router-outlet>

  <div class="main-container__nearby-container container-fluid">
    <h5 class="text-center nearby_container__text">Obok ciebie</h5>
    <button (click)="toggleNearbyBlock()" class="nearby-container__toggle btn btn-primary">{{nearby_toggle ?'Pokaż':'Schowaj'}}</button>
    <div [@showHide] = "visible ? 'visible':'hidden'" class="row nearby-container__data-container">
      <div>Dane firmy</div>
    </div>
  </div>
</div>

<div class="row main-container__footer">
  <p class="footer__text"><i class="fa fa-copyright" aria-hidden="true"></i>Damian Sołtysiuk,Mateusz Szałkowski</p>
</div>
