.home-component {
    .home-component__header {
        margin: auto;
        margin-top:30px;

        .header__text-node {
            position: relative;
            left: 50%;
            transform: translate(-50%);
        }
    }

    .home-component__main-container {
        border:1px solid red;
        height: 70vh;
    }
}