@import '../../commonStyles/shared';

.home-component {
  .home-component__header {
    margin: auto;
    margin-top: 30px;

    .header__text-node {
      position: relative;
      left: 50%;
      transform: translate(-50%);
    }
    
  }
  .home-component__empty-list {
    display: flex;
    justify-content: center;
    .empty-list__text-node {
      color:darken($bgcolor,10%);
      font-size: 1.2rem;
    }
  }

  .home-component__button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    .button-container__button--pause {
      width: 25%;
      border-radius: 50px;
      border: 0;
      background-image: linear-gradient(to right, $bgcolor 0%, lighten($bgcolor,20%) 51%, $bgcolor 100%);
      transition: all .4s ease-in-out;
      background-size: 200%;
      &:hover {
        background-position: 100% 0;
      }
      @include phone {
        width: 85%;
      }
    }
  }

  :host carousel-component{
    border: 1px solid black;
    display: block;
    overflow: hidden;
    width: 75%;
    margin: 0 auto;
    margin-top: 2vh;
    @include phone {
      width:100%;
    }
  }
  
  .item-carousel{
    background-color: white;
    display: flex!important;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;
    width: 50vh!important;
    min-height: 500px!important;
    height:unset !important;
    .item-carousel__image {
      height: 50%;
      width: 50%;
      max-height: 250px;
      max-width: 250px;
      @include phone {
        width:70%;
      }
    }
    .item-carousel__header {
      margin-top: 5px;
      color:darken($bgcolor,10%);
      font-size: 1.2rem;
    }
    .item-carousel__content {
      width:100%;
      .content__information {
        .information__nearby {
          padding:0 10px;
          .nearby__text-node {
            color:darken($bgcolor,10%);
            font-size: 1.1rem;
          }
        }
        .information__rate-container {
          margin-bottom: 2rem;
          .rate-container__text-node {
            padding-right: 5px;
            color:darken($bgcolor,10%);
            font-size: 1.1rem;
          }
          .rate-container__rate {
            color:darken($bgcolor,10%);
            font-size: 1.1rem;
            .filled {
              color: #fff200;
            }
          }
        }
        .information__data {
          .data__text-node {
            font-size:1.1rem;
            color:darken($bgcolor,10%);
          }
        }
        .information__empty-rate {
          font-size:1.1rem;
          color:darken($bgcolor,10%);
        }
      }
      .content__button {
        .button--link {
          width: 45%;
          border-radius: 50px;
          border: 0;
          background-image: linear-gradient(to right, $bgcolor 0%, lighten($bgcolor,20%) 51%, $bgcolor 100%);
          transition: all .4s ease-in-out;
          background-size: 200%;
          &:hover {
            background-position: 100% 0;
          }
          @include phone {
            width:90%;
          }
        }
      }
    }
    @include phone {
      width:30vh!important;
    }
  }
}
