@import "../../../commonStyles/shared";

.company-component {
    display: flex;
    flex-direction: column;
    margin-top: 5%;

    .company-component__form {
        @include boxShadow(0px 4px 5px 0px #bbb9bf);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;

        .form__add-form {
            display: flex;
            flex-direction: column;
            
            .add-form__header {
                display: flex;
                align-items: center;
                justify-content: center;
                min-height: 30px;
                height: 6vh;
                max-height: 60px;
                background-color: $bgcolor;
                border: 0;
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
                

                .header__text-node {
                    color:#fff;
                    font-size: 1.2rem;
                }
            }
            
            .add-form__input-container {
                display:flex;
                flex-direction: column;
                padding: 20px;

                .input-container__input-group {
                    display:flex;
                    flex-direction: column;

                    .input-group__header {

                        .header__text-node {
                            font-size: 1.1rem;
                            margin: 0 15px;
                            font-weight: bold;
                            color:darken($bgcolor,10);
                        }
                    }

                    .input-group__inputs {
                        border: 1px solid darken($bgcolor,10);
                        border-width: 1px 0 0 0;
                        border-radius: 6px;
                        padding: 20px;
                        @include boxShadow(inset 0px 15px 8px -15px rgba(32, 99, 143, 0.66));
                        display:flex;
                        flex-wrap: wrap;
                        justify-content: space-evenly;

                        .inputs__input-container {
                            display:flex;
                            flex-direction: column;

                            .input-container__select-wrapper {
                                display:flex;
                                flex-direction: column;
                            }

                            .input-container__label {
                                font-size: 1rem;
                            }

                            .input-container__input {
                                font-size: 1rem;
                            }

                            .input-container__error-container {
                                font-size: 1rem;
                            }
                        }
                    }
                    .input-group__description-container {
                        display:flex;
                        flex-direction: column;
                    }
                }
            }
        }
    }

    .company-component__button-container {
        display: flex;
        align-self: center;       
        width: 30%;
        justify-content: center;
        padding: 30px 0;

        @include phone {
            width:85%;
        }

        .button-container__button--add,.button-container__button--submit {
            width:100%;
            height: 35px;   
            margin-bottom:5%;
            border-radius: 50px;
            border: 0;
            margin-left: 5px;
            margin-right: 5px;
            background: linear-gradient(-45deg, #FFA63D, #FF3D77, #338AFF, #3CF0C5);
            animation: button-background-animation 16s linear infinite;
            background-size: 600%;

            .button--add__text-node {
                color:white;
            }   
        }
    }
    .company-component__separator {
        height: 100%;
    }
    .company-component__information-container {
        display:flex;
        align-self: center;
    }

    .company-component__company-section {
        border:1px solid red;
    }
}