@import "../../../commonStyles/shared";

.company-component {
    border:1px solid green;
    height:80vh;
    display: flex;
    flex-direction: column;

    .company-component__button-container {
        display: flex;
        align-self: center;       
        width: 30%;
        justify-content: center;

        @include phone {
            width:85%;
        }

        .button-container__button--add {
            width:100%;
            height: 35px;   
            margin-bottom:5%;
            border-radius: 50px;
            border: 0;
            background: linear-gradient(-45deg, #FFA63D, #FF3D77, #338AFF, #3CF0C5);
            animation: button-background-animation 16s linear infinite;
            background-size: 600%;

            .button--add__text-node {
                color:white;
            }   
        }
    }

    .company-component__company-section {
        border:1px solid red;
    }
}