<div class="advanced-search-component">
    <div class="advanced-search-component__header text-center">
                <p class="header__text-node">Zaawansowane wyszukiwanie</p>
    </div>
    <div class="advanced-search-component__container">
<div class="container__search-inputs-container">
    <form [formGroup]="searchForm">
            <div class="search-inputs-container__select-input">
                    <label for="type">Typ</label>
                    <ngx-select-dropdown name="type" formControlName="type" [config]="config" [options]="typeOptions"  [multiple]="true" ></ngx-select-dropdown>
                </div>
                <div class="search-inputs-container__select-input">
                        <label for="voivodeship">Województwo</label>
                    <ngx-select-dropdown name="voivodeship" formControlName="voivodeship" [config]="config" [options]="voivodeshipOptions"  (change)="checkForCity()" [multiple]="true" ></ngx-select-dropdown>
                </div>
                <div class="search-inputs-container__select-input">
                        <label for="city">Miasto</label>
                    <ngx-select-dropdown name="city" formControlName="city" [config]="config" [options]="cityOptions"  [multiple]="true" ></ngx-select-dropdown>
                </div>
                <div class="search-inputs-container__select-input">
                        <label for="category">Kategoria</label>
                    <ngx-select-dropdown name="category" formControlName="category" [config]="config" [options]="categoryOptions"  [multiple]="true" ></ngx-select-dropdown>
                </div>
                <div class="search-inputs-container__text-input">
                        <label for="name">Nazwa</label>
                    <input type="text" name="name" formControlName="name" class="text-input__input form-control">
                </div>
    </form>
    <div class="search-inputs-container__button-container">
            <button class="btn btn-primary button-container__button" (click)="getSearchData()">Szukaj</button>
    </div>
</div>

<div class="container__search-data-container" *ngIf="actualList">
        <div class="search-data-container__quantity text-center">
                znaleziono ({{dataNumber}}) wyników
              </div>
    <div class="search-data-container__sections">
      <app-search-section *ngFor="let data of actualList" [sectionData]="data"></app-search-section>
    </div>
    <div class="search-data-container__buttons" *ngIf="totalPages > 1">
      <button class="btn btn-primary buttons__button--previous" (click) = "previousPage();">
        Poprzednia
      </button>
      <p class="buttons__text-node">{{pageNumber+1}}</p>
      <button class="btn btn-primary buttons__button--next" (click) = "nextPage();">
         Następna
      </button>
    </div>
  </div>
</div>
<div class="advanced-search-component__empty text-center" *ngIf="showEmptyMessage()">
        <p class="empty__text-node">
            Niestety nie znaleziono danych o podanych kryteriach
        </p>
    </div>
</div>