<div class="advanced-search-component">
<div class="advanced-search-component__search-inputs-container">
    <form [formGroup]="searchForm">
            <div class="search-inputs-container__select-input">
                    <label for="type">Typ</label>
                    <ngx-select-dropdown name="type" formControlName="type" [config]="config" [options]="typeOptions"  [multiple]="false" ></ngx-select-dropdown>
                </div>
                <div class="search-inputs-container__select-input">
                        <label for="voivodeship">Województwo</label>
                    <ngx-select-dropdown name="voivodeship" formControlName="voivodeship" [config]="config" [options]="voivodeshipOptions"  (change)="checkForCity()" [multiple]="false" ></ngx-select-dropdown>
                </div>
                <div class="search-inputs-container__select-input">
                        <label for="city">Miasto</label>
                    <ngx-select-dropdown name="city" formControlName="city" [config]="config" [options]="cityOptions"  [multiple]="false" ></ngx-select-dropdown>
                </div>
                <div class="search-inputs-container__select-input">
                        <label for="category">Kategoria</label>
                    <ngx-select-dropdown name="category" formControlName="category" [config]="config" [options]="categoryOptions"  [multiple]="false" ></ngx-select-dropdown>
                </div>
                <div class="search-inputs-container__text-input">
                        <label for="name">Nazwa</label>
                    <input type="text" name="name" formControlName="name" class="text-input__input form-control">
                </div>
                <div class="search-inputs-container__button-container">
                        <button class="btn btn-primary button-container__button" (click)="getSearchData()">Szukaj</button>
                </div>
    </form>
</div>
<div class="advanced-search-component__data-container">
 data
</div>
</div>