@import '../../../commonStyles/shared';

.company-section__company-container {
  @include boxShadow(0px 0px 5px -2px $bgcolor);
  border-radius: 5px;
  margin: 5px;
  display: flex;
  @include phone {
    flex-direction: column;
  }

  .company-container__company-data {
    flex: 1;

    .company-data__data-container {
      padding-left: 10px;
      .data-container__text-node {
        padding: 10px;
        margin: 0;
      }
    }
  }

  .company-container__company-action {
    flex: 1;
    .company-action__button-container {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      align-items: center;

      .company-action__button {
        &--delete,
        &--profile {
          background-color: $bgcolor;
          border: 1px solid $btborder;
          margin: 5px;
          width: 50%;

          @include phone {
            width: 65%;
          }
          &:hover {
            background-color: $bgcolor1;
            opacity: 0.8;
          }
        }
      }
    }
  }

  .company-container__company-logo {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.branch-section__branch-container {
  @include boxShadow(0px 0px 5px -2px $bgcolor);
  border-radius: 5px;
  margin: 5px;
  display: flex;
  @include phone {
    flex-direction: column;
  }

  .branch-container__branch-data {
    flex: 1;

    .branch-data__data-container {
      padding-left: 10px;
      .data-container__text-node {
        padding: 10px;
        margin: 0;
      }
    }
  }

  .branch-container__branch-action {
    flex: 1;
    .branch-action__button-container {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      align-items: center;

      .branch-action__button {
        &--delete,
        &--profile {
          background-color: $bgcolor;
          border: 1px solid $btborder;
          margin: 5px;
          width: 50%;

          @include phone {
            width: 65%;
          }
          &:hover {
            background-color: $bgcolor1;
            opacity: 0.8;
          }
        }
      }
    }
  }

  .branch-container__branch-logo {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
