<div class="company-section__company-container" *ngIf="!showWorks">
    <div class="company-container__company-logo">
        <p class="company-logo__text-node">Logo</p>       
        </div>
  <div class="company-container__company-data">
    <div class="company-data__data-container">
    <p class="data-container__text-node">Nazwa:{{companyData.companyName}}</p>
    <p class="data-container__text-node">Kategoria:{{companyData.category}}</p>
    <p class="data-container__text-node">Rejestrujący:{{companyData.registererFullname}}</p>
  </div>
  </div>
  <div class="company-container__company-action">
    <div class="company-action__button-container" *ngIf="owner">
        <a [routerLink]="[ '/companyProfile', companyData.companyId, 'owner']" class="btn btn-primary company-action__button--profile">Profil</a>
        <button class="btn btn-primary company-action__button--delete" (click)="deleteCompany()">Usuń</button>
    </div>

    <div class="company-action__button-container" *ngIf="!owner">
        <a [routerLink]="[ '/companyProfile', companyData.companyId, 'guest']" class="btn btn-primary company-action__button--profile">Profil</a>
    </div>
   
    </div>
    
</div>

<div class="branch-section__branch-container" *ngIf="showWorks">
    <div class="branch-container__empty-list text-center" *ngIf="!works.length">
        <p class="empty-list__text-node">Aktualnie nie posiadasz żadnych zakładów</p>
    </div>
   <div class="branch-container" *ngFor="let branch of works">
      <div class="branch-container__branch-logo">
          <p class="branch-logo__text-node">Logo</p>       
        </div>
      <div class="branch-container__branch-data">
          <div class="branch-data__data-container">
          <p class="data-container__text-node">Nazwa:{{branch.name}}</p>
          <p class="data-container__text-node">Kategoria:{{companyData.category}}</p>
          <p class="data-container__text-node">Rejestrujący:{{companyData.registererFullname}}</p>
        </div>
        </div>
        <div class="branch-container__branch-action">
          <div class="branch-action__button-container" *ngIf="owner">
              <a class="btn btn-primary branch-action__button--profile">Profil</a>
              <button class="btn btn-primary branch-action__button--delete" (click)="deleteBranch()">Usuń</button>
          </div>
      
          <div class="branch-action__button-container" *ngIf="!owner">
              <a class="btn btn-primary branch-action__button--profile">Profil</a>
          </div>
         
          </div>
          
   </div>
  </div>