@import "../../../commonStyles/shared";

.company-profile-component {
    display: flex;
    flex-direction: column;
    width:80%;
    margin-top: 5%;

    @include phone {
        width: 95%;
        padding: 0;
    }
    .company-profile-component__main-container {
        @include boxShadow(0px 4px 5px 0px #bbb9bf);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        .main-container__header {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 30px;
            height: 6vh;
            max-height: 60px;
            background-color: $bgcolor;
            border: 0;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            .header__text-node {
                color:#fff;
                font-size: 1.2rem;
            }
        }

        .main-container__content {
            display:flex;
            flex-wrap: wrap;
            height:50vh;
        }
    }
}