@import 'shared';

.company-profile-component {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin-top: 4%;
  margin-bottom: 1%;
  max-width: 1200px;

  @include phone {
    width: 95%;
    padding: 0;
  }

  @include tablet {
    width: 85%;
  }

  .content-col {
    width: 50%;
    padding: 15px;

    @include phone() {
      width: 100%;
    }
  }

  .company-profile-component__app-company {
    margin-bottom: 5px;
  }

  .company-profile-component__branch-sections {
    padding-top: 10px;

    .branch-sections__branch-section {
      max-height: 50vh;
      overflow: auto;
    }

    .branch-sections__button-container {
      display: flex;
      justify-content: center;
      padding-top: 10px;
      padding-bottom: 20px;

      .button-container__button--add {
        width: 30%;
        border-radius: 50px;
        border: 0;
        background-image: linear-gradient(to right, $bgcolor 0%, lighten($bgcolor, 20%) 51%, $bgcolor 100%);
        transition: all 0.4s ease-in-out;
        background-size: 200%;

        &:hover {
          background-position: 100% 0;
        }

        @include phone {
          width: 95%;
        }
      }
    }

    .branch-sections__empty-branches {
      display: flex;
      flex-direction: column;
      align-items: center;

      .empty-branches__text-node {
        color: $bgcolor;
        font-size: 1.2rem;
      }

      .empty-branches__button--add {
        width: 25%;
        border-radius: 50px;
        border: 0;
        background-image: linear-gradient(to right, $bgcolor 0%, lighten($bgcolor, 20%) 51%, $bgcolor 100%);
        transition: all 0.4s ease-in-out;
        background-size: 200%;

        &:hover {
          background-position: 100% 0;
        }

        @include phone {
          width: 85%;
        }
      }
    }
  }

  .company-profile-component__shared--buttons {
    display: flex;
    justify-content: center;
    padding: 0;

    .shared--buttons__button--back {
      width: 30%;
      margin-bottom: 2%;
      border-radius: 50px;
      border-radius: 50px;
      border: 0;
      background-image: linear-gradient(to right, $bgcolor 0%, lighten($bgcolor, 20%) 51%, $bgcolor 100%);
      transition: all 0.4s ease-in-out;
      background-size: 200%;

      &:hover {
        background-position: 100% 0;
      }

      margin-top: 4%;

      @include phone {
        width: 95%;
      }
    }
  }

  .company-profile-component__main-container {
    @include boxShadow(0px 4px 5px 0px #bbb9bf);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    .main-container__header {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 30px;
      height: 6vh;
      max-height: 60px;
      background-color: $bgcolor;
      border: 0;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;

      .header__text-node {
        color: #fff;
        font-size: 1.2rem;
      }
    }

    .main-container__content {
      display: flex;
      flex-wrap: wrap;

      @include phone {
        height: unset;
      }

      .content__section {

        &--main,
        &--address {
          .data__text-node {
            margin: 0;
            padding: 10px;

            .text-node__label {
              padding-right: 10px;
              color: darken($bgcolor, 10);
              font-size: 1.1rem;
            }
          }
        }

        &--logo {
          display: flex;
          justify-content: center;
          align-items: center;

          .content__section--logo__logo {
            border: 1px solid $bgcolor;
            width: 95%;
            height: 95%;
            max-height: 300px;
            max-width: 300px;

            @include phone {
              margin: 10px 0;
            }
          }
        }

        &--media-buttons {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          width: 50%;
          padding: 15px;

          @include phone {
            align-items: center;
            width: 100%;
          }

          .form__button {

            &--facebook,
            &--twitter {
              width: 50%;
              padding: 2px;
              margin: 5px;
              border: 0;

              .fab {
                padding-left: 5px;
              }

              @include phone {
                width: 80%;
              }
            }

            &--facebook {
              background: #3b5998;
            }

            &--twitter {
              background: #1DA1F2;
            }
          }
        }
      }

      .content__section--description {
        width: 50%;
        padding: 15px;

        @include phone() {
          width: 100%;
        }

        .section--description__data {
          min-height: 100px;
          padding: 10px;

          .data__text-node {
            font-size: 1.1rem;
            color: darken($bgcolor, 10%);
          }
        }
      }

      .content__section--error {
        margin: auto;
      }

      .content__section--save-newsletter {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @include phone {
          width: 100%;
          padding: 10px;
        }

        .save-newsletter__form {
          display: flex;
          flex-direction: column;
          width: 60%;

          @include phone {
            width: 100%;
          }

          @include tablet {
            width: 100%;
          }

          .form__text-node {
            color: darken($bgcolor, 10%);
          }

          .form__label {
            padding-left: 5px;
          }

          .form__checkbox {
            display: inline;
          }

          .form__button {
            margin-top: 10px;
            border-radius: 50px;
            border-radius: 50px;
            border: 0;
            background-image: linear-gradient(to right, $bgcolor 0%, lighten($bgcolor, 20%) 51%, $bgcolor 100%);
            transition: all 0.4s ease-in-out;
            background-size: 200%;

            &:hover {
              background-position: 100% 0;
            }

            @include phone {
              width: 100%;
            }
          }
        }
      }

      .content__section--buttons {
        display: flex;
        align-items: center;
        justify-content: center;

        @include phone {
          flex-direction: column;
        }

        .section--buttons__owner-buttons {
          width: 20%;
          margin: 10px;

          @include phone {
            width: 95%;
          }

          @include tablet {
            width: 95%;
          }

          .owner-buttons__button {
            &--edit {
              width: 100%;
              border-radius: 50px;
              border: 0;
              background-image: linear-gradient(to right, $bgcolor 0%, lighten($bgcolor, 20%) 51%, $bgcolor 100%);
              transition: all 0.4s ease-in-out;
              background-size: 200%;

              &:hover {
                background-position: 100% 0;
              }

              color: #fff;
              min-width: 125px;

              &:hover {
                cursor: pointer;
              }
            }
          }
        }

        .section--buttons__button {

          &--comments,
          &--branches,
          &--newsletters,
          &--newsletter-list {
            width: 20%;
            margin: 10px;
            border-radius: 50px;
            border: 0;
            background-image: linear-gradient(to right, $bgcolor 0%, lighten($bgcolor, 20%) 51%, $bgcolor 100%);
            transition: all 0.4s ease-in-out;
            background-size: 200%;

            &:hover {
              background-position: 100% 0;
            }

            @include phone {
              width: 95%;
            }

            @include tablet {
              width: 95%;
            }
          }

          &--newsletters {
            min-width: 155px;
          }

          &--newsletter-list {
            width: 30%;
            min-width: 240px;

            @include phone {
              width: 95%;
            }

            @include tablet {
              width: 95%;
            }
          }
        }
      }
    }
  }
}
