<div class="container-fluid company-profile-component">
  <div
    class="company-profile-component__main-container"
    *ngIf="canShowCompany.value"
  >
    <div class="main-container__header">
      <span class="header__text-node">Profil firmy</span>
    </div>
    <div class="main-container__content" *ngIf="companyData">
      <div class="content__section--logo col-12 col-md-4">
        <img *ngIf="companyData.logo" class="content__section--logo__logo" src="{{companyData.logo}}" alt="{{companyData.companyName}}_logo">
      </div>
      <div class="content__section--main col-12 col-md-4">
        <div class="section--main__data">
          <p class="data__text-node">
            <span class="text-node__label">Nazwa rejestratora:</span>
            {{ companyData.registererFullname }}
          </p>
        </div>
        <div class="section--main__data">
          <p class="data__text-node">
            <span class="text-node__label">Nazwa firmy:</span>
            {{ companyData.companyName }}
          </p>
        </div>
        <div class="section--main__data">
          <p class="data__text-node">
            <span class="text-node__label">Kategoria:</span>
            {{ companyData.category }}
          </p>
        </div>
        <div class="section--main__data" *ngIf="companyData.companyWebsiteUrl">
          <p class="data__text-node">
            <span class="text-node__label">Strona firmy:</span>
            <a href="{{companyData.companyWebsiteUrl}}" target="_blank">{{ companyData.companyWebsiteUrl }}</a>
          </p>
        </div>
        <div class="section--main__data">
          <p class="data__text-node">
            <span class="text-node__label">NIP:</span> {{ companyData.nip }}
          </p>
        </div>
        <div class="section--main__data">
          <p class="data__text-node">
            <span class="text-node__label">REGON:</span> {{ companyData.regon }}
          </p>
        </div>
      </div>
      <div class="content__section--address col-12 col-md-4">
        <div class="section--address__data">
          <p class="data__text-node">
            <span class="text-node__label">Województwo:</span>
            {{ companyData.address.voivodeship }}
          </p>
        </div>
        <div class="section--address__data">
          <p class="data__text-node">
            <span class="text-node__label">Miasto:</span>
            {{ companyData.address.city }}
          </p>
        </div>
        <div class="section--address__data">
          <p class="data__text-node">
            <span class="text-node__label">Ulica:</span>
            {{ companyData.address.street }}
          </p>
        </div>
        <div class="section--address__data">
          <p class="data__text-node">
            <span class="text-node__label">Numer biura/pokoju:</span>
            {{ companyData.address.apartmentNo }}
          </p>
        </div>
        <div class="section--address__data">
          <p class="data__text-node">
            <span class="text-node__label">Numer budynku:</span>
            {{ companyData.address.buildingNo }}
          </p>
        </div>
      </div>
      <div class="content__section--description">
        <div class="section--description__data">
          <p class="data__text-node">Opis firmy:</p>
          <div
            class="data__description-container"
            [innerHTML]="companyData.description"
          ></div>
        </div>
      </div>
      <div class="content__section--media-buttons" *ngIf="owner.value">
        <button class="btn btn-primary form__button--facebook" (click)="facebookLogin($event)" *ngIf="!isFacebookConnected">
          <span *ngIf="!otherFBAccount">Połącz z facebookiem<i class="fab fa-facebook-square"></i></span>
          </button>
          <button class="btn btn-primary form__button--facebook" (click)="goToFBProfile($event)" *ngIf="isFacebookConnected">
            <span>Przejdź do profilu<i class="fab fa-facebook-square"></i></span>
          </button>
      </div>
      <div *ngIf="showNewsletterFormContainer()" class="content-col">
        <div class="content__section--save-newsletter" *ngIf="showNewsletterForm()">
            <form class="save-newsletter__form" [formGroup]="newsletterFormUser" (submit)="saveToNewsletter($event)">
                <p class="form__text-node">Zapisz się na newsletter aby otrzymywać najnowsze informacje i promocje!</p>
                <div>
                    <input formControlName="isChecked" type="checkbox" class="form__checkbox">
                    <label #checkLabel class="form__label" for="email">Czy chcesz otrzymywać newsletter?</label>
                </div>
                <button type="submit" class="btn btn-primary form__button" [disabled]="!this.newsletterFormUser.valid">Zapisz mnie!</button>
            </form>
          </div>
          <div class="content__section--save-newsletter" *ngIf="!this.userREST">
              <form class="save-newsletter__form" [formGroup]="newsletterFormGuest" (submit)="saveToNewsletter($event)">
              <p class="form__text-node">Zapisz się na newsletter aby otrzymywać najnowsze informacje i promocje!</p>
              <label for="email">Email</label>
              <input formControlName="email" type="text" class="form-control form__input">
              <button type="submit" class="btn btn-primary form__button" [disabled]="!this.newsletterFormGuest.valid">Zapisz mnie!</button>
            </form>
            </div>
        </div>
      <div class="content__section--buttons col-12">
        <button
          class="btn btn-primary section--buttons__button--newsletters"
          [routerLink]="[ 'newsletter']" *ngIf="owner.value">  
          Przedmiot promocyjny
        </button>
        <button
          class="btn btn-primary section--buttons__button--newsletter-list"
          [routerLink]="[ 'newsletterList']" *ngIf="owner.value">  
          Lista obiektów promocyjnych
        </button>
        <span class="section--buttons__owner-buttons" *ngIf="owner.value">
          <button
            class="btn btn-primary owner-buttons__button--edit"
            (click)="showEditForm()"
          >
            Edycja danych
          </button>
        </span>
      </div>
      <div class="content__section--error">
          <app-form-error></app-form-error>
      </div>
      <div
    class="company-profile-component__branch-sections col-12"
  >
    <div class="branch-sections__empty-branches" *ngIf="showEmptyBranchData()">
      <p class="empty-branches__text-node text-center" *ngIf="isLoaded.value">
        Firma nie posiada żadnego zakładu
      </p>
    </div>
    <div class="branch-sections__branch-section" *ngIf="isLoaded.value">
    <div
      class="branch-section__branch"
      *ngFor="let branch of branchData"
    >
      <app-company-section
        [showWorks]="true"
        [branchData]="branch"
        [companyData]="companyData"
      ></app-company-section>
    </div>
  </div>
    <div class="branch-sections__button-container">
      <button
        class="btn btn-primary button-container__button--add"
        (click)="showAddBranchform()"
        *ngIf="owner.value"
      >
        Dodaj zakład
      </button>
    </div>
  </div>
    </div>
  </div>
  <div
    class="company-profile-component__shared--buttons col-12"
    *ngIf="!this.canShowCompany.value"
  >
    <button
      class="btn btn-primary shared--buttons__button--back"
      (click)="goBack()"
    >
      Wróć do profilu firmy
    </button>
  </div>
</div>
