<div class="favourite-branches-component">
  <div class="favourite-branches-component__main-container">
    <div class="main-container__header">
      <p class="header__text-node">Ulubione Zakłady</p>
    </div>
    <div class="main-container__data">
      <div *ngIf="!branchData.length && loaded" class="data__empty-list">
        nie ma
      </div>
      <div *ngIf="branchData.length && loaded">
        <div *ngFor="let fav of branchData" class="data__container">
          <div class="container__logo">
            <img src="{{fav.branchData.logo}}" alt="{{fav.branchData.name}}" class="logo__image">
          </div>
          <div class="container__info">
            <p class="info__text-node"><span class="text-node__label">Nazwa zakładu:</span>{{fav.branchData.name}}</p>
            <p class="info__text-node"><span class="text-node__label">Kategoria:</span>{{fav.branchData.category}}</p>
            <p class="info__text-node"><span class="text-node__label">Ocena:</span>
              <ngb-rating class="rate_rating-component" [(rate)]="fav.avgRate" [max]="5" [readonly]="true">
                <ng-template let-fill="fill" let-index="index">
                  <span class="star" [class.filled]="fill === 100">&#9733;</span>
                </ng-template>
              </ngb-rating>
            </p>
          </div>
          <div class="container__button">
            <button (click)="deleteFavBranch(fav.favData.favouriteBranchId)" class="btn btn-primary button__button">Usuń z ulubionych</button>
            <button class="btn btn-primary button__button" [routerLink]="['/branchProfile',fav.branchData.companyId,fav.favData.branchId]">Przejdź do profilu</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>