<div class="container-fluid search-component">
  <form
    class="search-component__form"
    [formGroup]="searchform"
    (ngSubmit)="onSubmit()"
  >
    <p class="form__text-node">Znajdź swoją wymarzoną firmę!</p>
    <div class="form_main-container">
      <span class="main-container__span-icon"
        ><i class="fas fa-search main-container__icon"></i
      ></span>
      <input
        formControlName="search"
        autocomplete="off"
        type="text"
        class="form-control main-container__input"
        name="search-input"
        data-popover-content="#popoverHelp"
        data-toggle="popover"
        data-placement="bottom"
      />
      <div id="popoverHelp" class="main-container__popover">
        <div class="popover-body popover__popover-container">
          <p class="popover-container__text-node">
            Wpisz szukane frazy
          </p>
        </div>
      </div>
      <button
        type="submit"
        class="btn btn-primary pull-right main-container__button--search"
      >
        Szukaj
      </button>
    </div>
  </form>
  <div class="search-component__empty text-center" *ngIf="showEmptyMessage()">
    <p class="empty__text-node">
        Niestety nie znaleziono danych o podanych kryteriach
    </p>
</div>
  <div class="search-component__search-data-container" *ngIf="actualList">
    <div class="search-data-container__quantity text-center">
      znaleziono ({{companyNumber}}) firm oraz ({{branchNumber}}) zakładów
    </div>
    <div class="search-data-container__sections">
      <app-search-section *ngFor="let data of actualList" [sectionData]="data"></app-search-section>
    </div>
    <div class="search-data-container__buttons" *ngIf="totalPages > 1">
      <button class="btn btn-primary buttons__button--previous" (click) = "previousPage();">
        Poprzednia
      </button>
      <p class="buttons__text-node">{{pageNumber+1}}</p>
      <button class="btn btn-primary buttons__button--next" (click) = "nextPage();">
         Następna
      </button>
    </div>
  </div>
</div>
