<div class="container-fluid">

  <div class="row login_Form">
    <form class="login_form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="header"><p>Formularz logowania</p></div>
      <div class="inputs">
        <div class="form-group">
        <label for="email">Adres email</label>
      <input class="form-control" type="text" id="email" name="email" formControlName="email" placeholder="Adres Email"> 
      <div  class="text-center" *ngIf="(loginForm.email.dirty || loginForm.email.touched) && loginForm.email.invalid">
        <p class="text-danger" *ngIf="loginForm.email.errors.email">Proszę uzupełnić poprawnie email</p>
        <p class="text-danger" *ngIf="loginForm.email.errors.required">Pole nie może być puste</p>
      </div> 
    </div>
        <div class="form-group">
      <label for="password">Hasło</label>
      <input class="form-control" type="password" id="password" name="password" formControlName="password" placeholder="Hasło">
      <div  class="text-center" *ngIf="(loginForm.password.dirty || loginForm.password.touched) && loginForm.password.invalid">
        <p class="text-danger" *ngIf="loginForm.password.errors.required">Pole nie może być puste</p>
        <p class="text-danger" *ngIf="loginForm.password.errors.pattern">Proszę uzupełnić poprawnie hasło np: "Hasło5"</p>
      </div> 
    </div>
      <button class="btn btn-primary" type="submit">Zaloguj</button>

      <p>Nie posiadasz jeszcze konta?</p>
      <a class="link" routerLink="/register">ZAREJESTRUJ SIĘ</a>
    </div>
    </form>
  </div>
</div>