<div class="container-fluid login-component">
  <div class="row login-component__form">
    <form
      class="form__login-form"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="login-form__header">
        <p class="header__text">
          <i class="fas fa-sign-in-alt"></i>Formularz logowania
        </p>
      </div>
      <div class="login-form__input-group">
        <div class="form-group input-group__container">
          <label for="email" class="input-group__label">Adres email</label>
          <input
            class="form-control input-group__input"
            type="text"
            id="email"
            name="email"
            formControlName="email"
            placeholder="Adres Email"
          />
          <div
            class="text-center input-group__error-container"
            *ngIf="
              (logForm.email.dirty || logForm.email.touched) &&
              logForm.email.invalid
            "
          >
            <p
              class="text-danger error-container__text--danger"
              *ngIf="logForm.email.errors.email"
            >
              Proszę uzupełnić poprawnie email
            </p>
            <p
              class="text-danger error-container__text--danger"
              *ngIf="logForm.email.errors.required"
            >
              Pole nie może być puste
            </p>
          </div>
        </div>
        <div class="form-group input-group__container">
          <label for="password" class="input-group__label">Hasło</label>
          <input
            class="form-control input-group__input"
            type="password"
            id="password"
            name="password"
            formControlName="password"
            placeholder="Hasło"
          />
          <div
            class="text-center input-group__error-container"
            *ngIf="
              (logForm.password.dirty || logForm.password.touched) &&
              logForm.password.invalid
            "
          >
            <p
              class="text-danger error-container__error-text"
              *ngIf="logForm.password.errors.required"
            >
              Pole nie może być puste
            </p>
          </div>
        </div>
        <button
          class="btn btn-primary form__button--submit"
          [disabled]="!loginForm.valid"
          type="submit"
        >
          Zaloguj
        </button>
        <p class="input-group__text--question">Nie posiadasz jeszcze konta?</p>
        <a class="input-group__register-link" routerLink="/register"
          >ZAREJESTRUJ SIĘ</a
        >
      </div>
    </form>
  </div>
</div>
