<div class="container-fluid rating-component">
  <div class="rating-component__main-container">
    <div class="main-container__header">
      <span class="header__text-node">Komentarze i oceny</span>
    </div>
    <div class="main-container__data-container">
      <div class="data-container__section--rating">
        lista
      </div>
      <div class="data-container__section--form">
       <form class="section--form__form" [formGroup]="ratingForm">
        <div class="form__comment-input">
          <label for="commentText">Komentarz</label>
          <input type="text" formControlName="commentText">
        </div>
        <div class="form__rating-input">
          <label for="rating">Ocena</label>
          <input type="text" formControlName="rating">
        </div>
        <div class="form__button-container">
        <button type="submit" class="button-container__button--submit btn btn-primary">Dodaj</button>
        </div>
       </form>
      </div>
    </div>
  </div>
</div>