@import '../../../commonStyles/shared';

.rating-component {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include phone {
    width: 100%;
    padding: 0;
  }
  .rating-component__main-container {
    .main-container__header {
      display: flex;
      align-items: center;
      justify-content: center;
      .header__text-node {
        color: darken($bgcolor,10%);
        font-size: 1.2rem;
      }
    }
    .main-container__data-container {
        display:flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        border:1px solid $bgcolor;
        border-radius: 20px;

        .data-container__section--button {
          display: flex;
          justify-content: center;
          z-index: 20;
          .section--button__button {
            padding: 0;
            border-radius: 0;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            width: 20%;      
            background-color: $bgcolor;
            @include phone {
              width: 50%; 
            }
            @include tablet {
              width: 50%; 
            }
          }
        }

        .data-container__section--rating {
            margin:5px;
            min-height:40vh;
            overflow: auto;
        }
        .data-container__section--form {
            position:absolute;
            z-index: 5;
            width:100%;
            height:100%;
            border-radius: 20px;
            background-color: #fff;
            top:0;
            overflow:hidden;
            display:flex;
            align-items: center;
            overflow: auto;
            .section--form__form {
              padding-top:20px;
              display: flex;
              width:100%;
              height:100%;
              flex-wrap: wrap;
              padding-left: 20px;
              padding-right: 20px;

              @include phone {
                flex-direction: column;
                flex-wrap: nowrap;
              }
              .form__comment-input {
                width:80%;
                @include phone {
                  width:100%;
                  height:200px;
                  margin-top:10px;
                }
                .comment-input__input {

                }
              }
              .form__rating-input {
                display: flex;
                flex-direction: column;
                width:20%;
                @include phone {
                  width:100%;
                  padding-top:100px;
                  padding-bottom: 10px;
                }
                .rating-input__rating {
                  padding-top:30px;
                  align-self: center;
                  @include phone {
                    padding-top:0;
                  }
                }
              }

              .form__button-container {
                width:100%;
                padding-top: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                @include phone {
                  padding-top:0;
                }
                .button-container__button--submit {
                  width:30%;
                  border-radius: 50px;
                  border: 0;
                  background-image: linear-gradient(to right, $bgcolor 0%, lighten($bgcolor,20%) 51%, $bgcolor 100%);
                  transition: all .4s ease-in-out;
                  background-size: 200%;
                  &:hover {
                    background-position: 100% 0;
                  }
                  @include phone {
                    width:100%;
                    margin-bottom: 10px;
                  }
                }
              }
            }
        }
    }
}
}