@import 'shared';

.branch-profile-component {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin-top: 4%;
  max-width: 1200px;

  @include phone {
    width: 95%;
    padding: 0;
  }

  @include tablet {
    width: 85%;
  }

  .branch-profile-component__app-branch {
    margin-bottom: 5px;
  }

  .branch-profile-component__branch-sections {
    overflow: auto;

    .branch-sections__empty-branches {
      display: flex;
      flex-direction: column;
      align-items: center;

      .empty-branches__text-node {
        color: $bgcolor;
        font-size: 1.2rem;
      }

      .empty-branches__button--add {
        width: 25%;
        border-radius: 50px;
        border: 0;
        background-image: linear-gradient(to right, $bgcolor 0%, lighten($bgcolor, 20%) 51%, $bgcolor 100%);
        transition: all .4s ease-in-out;
        background-size: 200%;

        &:hover {
          background-position: 100% 0;
        }

        @include phone {
          width: 85%;
        }
      }
    }
  }

  .branch-profile-component__shared--buttons {
    display: flex;
    justify-content: center;

    .shared--buttons__button--back {
      width: 30%;
      margin-bottom: 2%;
      border-radius: 50px;
      border: 0;
      background-image: linear-gradient(to right, $bgcolor 0%, lighten($bgcolor, 20%) 51%, $bgcolor 100%);
      transition: all .4s ease-in-out;
      background-size: 200%;

      &:hover {
        background-position: 100% 0;
      }

      margin-top: 4%;

      @include phone {
        width: 95%;
      }
    }
  }

  .branch-profile-component__main-container {
    @include boxShadow(0px 4px 5px 0px #bbb9bf);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    .main-container__header {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 30px;
      height: 6vh;
      max-height: 60px;
      background-color: $bgcolor;
      border: 0;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;

      .header__text-node {
        color: #fff;
        font-size: 1.2rem;
      }
    }

    .main-container__content {
      display: flex;
      flex-wrap: wrap;

      @include phone {
        height: unset;
      }

      .content__section--map {
        padding-bottom: 15px;

        .section--map__data {
          padding: 10px;

          .data__text-node {
            font-size: 1.1rem;
            color: darken($bgcolor, 10%);
          }

          .map-container__map {
            height: 300px;
          }
        }
      }

      .content__section--comments {
        margin-bottom: 10px;
      }



      .content__section {

        &--main,
        &--address {
          .data__text-node {
            margin: 0;
            padding: 10px;

            .text-node__label {
              padding-right: 10px;
              color: darken($bgcolor, 10);
              font-size: 1.1rem;
            }
          }
        }

        &--logo {
          display: flex;
          justify-content: center;
          align-items: center;

          .content__section--logo__logo {
            border: 1px solid $bgcolor;
            width: 95%;
            height: 95%;
            max-height: 300px;
            max-width: 300px;

            @include phone {
              margin: 10px 0;
            }
          }
        }
      }

      .content__section--buttons {
        display: flex;
        align-items: center;
        justify-content: center;

        @include phone {
          flex-direction: column;
        }

        .section--buttons__owner-buttons,
        .section--buttons__user-buttons {
          width: 20%;
          margin: 10px;

          @include phone {
            width: 95%;
          }

          .owner-buttons__button,
          .user-buttons__button {

            &--edit,
            &--favourites {
              width: 100%;
              border-radius: 50px;
              border: 0;
              background-image: linear-gradient(to right, $bgcolor 0%, lighten($bgcolor, 20%) 51%, $bgcolor 100%);
              transition: all .4s ease-in-out;
              background-size: 200%;

              &:hover {
                background-position: 100% 0;
              }

              color: #fff;
              min-width: 125px;

              &:hover {
                cursor: pointer;
              }
            }
          }
        }

        .section--buttons__button {

          &--comments,
          &--branches,
          &--newsletters {
            width: 20%;
            margin: 10px;
            border-radius: 50px;
            border: 0;
            background-image: linear-gradient(to right, $bgcolor 0%, lighten($bgcolor, 20%) 51%, $bgcolor 100%);
            transition: all .4s ease-in-out;
            background-size: 200%;

            &:hover {
              background-position: 100% 0;
            }

            @include phone {
              width: 95%;
            }
          }
        }
      }
    }
  }
}
