<div class="container-fluid personal-data-component">
  <div class="row personal-data-component__form">
    <form (ngSubmit)="onSubmit()" class=" col-12 col-xl-6 col-md-8 form__personal-data-form"
      [formGroup]="personalDataForm">
      <div class="personal-data-form__header col-12 text-center">
        <p class="header__text-node"><i class="fas fa-file-signature"></i>Dane personalne</p>
      </div>
      <div class="personal-data-form__input-group col-12">
        <div class="input_group__group-label">
            <p class="grou-label__text-node">Dane osobowe</p>
        </div>
        <div class="input-group__section-container row col-12">
          <div class="form-group section-container__container">
            <label class="section-container__label" for="firstName">Imie</label>
            <input type="text" name="firstName" class="form-control section-container__input"
              formControlName="firstName" />
            <div *ngIf="
                (this.form.firstName.touched || this.form.firstName.dirty) &&
                this.form.firstName.errors
              " class="section-container__error-container">
              <p *ngIf="this.form.firstName.errors.required" class="text-danger error-container__text--danger">
                Pole nie może być puste
              </p>
              <p *ngIf="this.form.firstName.errors.pattern" class="text-danger error-container__text--danger">
                Proszę poprawnie uzupełnić pole
              </p>
            </div>
          </div>
          <div class="form-group section-container__container">
            <label class="section-container__label" for="lastName">Nazwisko</label>
            <input type="text" name="lastName" class="form-control section-container__input"
              formControlName="lastName" />
            <div *ngIf="
                (this.form.lastName.touched || this.form.lastName.dirty) &&
                this.form.lastName.errors
              " class="section-container__error-container">
              <p *ngIf="this.form.lastName.errors.required" class="text-danger error-container__text--danger">
                Pole nie może być puste
              </p>
              <p *ngIf="this.form.lastName.errors.pattern" class="text-danger error-container__text--danger">
                Proszę poprawnie uzupełnić pole
              </p>
            </div>
          </div>
        </div>
        <div class="input_group__group-label">
            <p class="grou-label__text-node">Dane adresowe</p>
        </div>
        <div class="input-group__section-container row col-12 col-xl-12">
          <div class="form-group section-container__container">
            <label class="section-container__label" for="street">Ulica</label>
            <input type="text" name="street" class="form-control section-container__input" formControlName="street" />
            <div *ngIf="
                (this.form.street.touched || this.form.street.dirty) &&
                this.form.street.errors
              " class="section-container__error-container">
              <p *ngIf="this.form.street.errors.required" class="text-danger error-container__text--danger">
                Pole nie może być puste
              </p>
              <p *ngIf="this.form.street.errors.pattern" class="text-danger error-container__text--danger">
                Proszę poprawnie uzupełnić pole
              </p>
            </div>
          </div>
          <div class="form-group section-container__container">
            <label class="section-container__label" for="apartmentNo">Numer Mieszkania</label>
            <input type="text" name="apartmentNo" class="form-control section-container__input"
              formControlName="apartmentNo" />
            <div *ngIf="
                (this.form.apartmentNo.touched ||
                  this.form.apartmentNo.dirty) &&
                this.form.apartmentNo.errors
              " class="section-container__error-container">
              <p *ngIf="this.form.apartmentNo.errors.required" class="text-danger error-container__text--danger">
                Pole nie może być puste
              </p>
              <p *ngIf="this.form.apartmentNo.errors.pattern" class="text-danger error-container__text--danger">
                Proszę poprawnie uzupełnić pole
              </p>
            </div>
          </div>
          <div class="form-group section-container__container">
            <label class="section-container__label" for="buildingNo">Numer Domu</label>
            <input type="text" name="buildingNo" class="form-control section-container__input"
              formControlName="buildingNo" />
            <div *ngIf="
                (this.form.buildingNo.touched || this.form.buildingNo.dirty) &&
                this.form.buildingNo.errors
              " class="section-container__error-container">
              <p *ngIf="this.form.buildingNo.errors.required" class="text-danger error-container__text--danger">
                Pole nie może być puste
              </p>
              <p *ngIf="this.form.buildingNo.errors.pattern" class="text-danger error-container__text--danger">
                Proszę poprawnie uzupełnić pole
              </p>
            </div>
          </div>
          <div class="form-group section-container__container">
            <label class="section-container__label" for="voivodeship">Województwo</label>
            <input type="text" name="voivodeship" class="form-control section-container__input"
              formControlName="voivodeship" />
            <div *ngIf="
                  (this.form.voivodeship.touched ||
                    this.form.voivodeship.dirty) &&
                  this.form.voivodeship.errors
                " class="section-container__error-container">
              <p *ngIf="this.form.voivodeship.errors.required" class="text-danger error-container__text--danger">
                Pole nie może być puste
              </p>
              <p *ngIf="this.form.voivodeship.errors.pattern" class="text-danger error-container__text--danger">
                Proszę poprawnie uzupełnić pole
              </p>
            </div>
          </div>
          <div class="form-group section-container__container">
            <label class="section-container__label" for="city">Miasto</label>
            <input type="text" name="city" class="form-control section-container__input" formControlName="city" />
            <div *ngIf="
                  (this.form.city.touched || this.form.city.dirty) &&
                  this.form.city.errors
                " class="section-container__error-container">
              <p *ngIf="this.form.city.errors.required" class="text-danger error-container__text--danger">
                Pole nie może być puste
              </p>
              <p *ngIf="this.form.city.errors.pattern" class="text-danger error-container__text--danger">
                Proszę poprawnie uzupełnić pole
              </p>
            </div>
          </div>
        </div>
        <div class="input_group__group-label">
            <p class="grou-label__text-node">Dane kontaktowe</p>
        </div>
        <div class="input-group__section-container row col-12">
            <div class="form-group section-container__container">
              <label class="section-container__label" for="phoneNo">Telefon</label>
              <input type="text" name="phoneNo" class="form-control section-container__input" formControlName="phoneNo" />
              <div *ngIf="
                    (this.form.phoneNo.touched || this.form.phoneNo.dirty) &&
                    this.form.phoneNo.errors
                  " class="section-container__error-container">
                <p *ngIf="this.form.phoneNo.errors.required" class="text-danger error-container__text--danger">
                  Pole nie może być puste
                </p>
                <p *ngIf="this.form.phoneNo.errors.pattern" class="text-danger error-container__text--danger">
                  Proszę poprawnie uzupełnić pole
                </p>
              </div>
            </div>
          </div>
      </div>
      <div class="personal-data-form__error-container text-center col-12">
        <p *ngIf="successMessage" class="text-success error-container__text--success">
          {{ successMessage }}
        </p>
        <p *ngIf="errorMessage" class="text-danger error-container__text--danger">
          {{ errorMessage }}
        </p>
      </div>
      <div class="personal-data-form__button-container text-center col-12">
      <button class="btn btn-primary personal-data-form__button--submit" [disabled]="!this.personalDataForm.valid"
        type="submit">
        Dodaj dane
      </button>
    </div>
    </form>
  </div>
</div>