@import '../../../commonStyles/shared';

.form_container{
    
    margin-top:5%;
}
.header{
    position: relative;
    min-height: 30px;
    height: 6vh;
    max-height: 60px;
    background-color: $bgcolor;
    border: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  
    p {
      color: white;
      position: relative;
      top: 50%;
      transform: translate(0, -50%);
      font-size: 1.2em;
    }
}
.form-group_main{
    padding:3%;
    margin-top:2%;
    input{
        padding:0;
      
    }
    
}
.personaldataForm{
    @include boxShadow(0px 4px 5px 0px rgba(187, 185, 191, 1));
    border: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    align-self: center;
    margin: auto;
    padding:0;
    button {
        width: 60%;
        margin:auto;
        margin-bottom:10%;
        border-radius: 50px;
        border: 0;
        background: linear-gradient(-45deg, #FFA63D, #FF3D77, #338AFF, #3CF0C5);
        animation: anime 16s linear infinite;
        background-size: 600%;
        margin-top: 4%;
    
        @include phone {
          width: 75%;
        }
      }
      
}
.form-group{
  @include phone {
    width: 80%;
    margin:auto;
  }
}

  