<div class="container-fluid register-component">

  <div class="row register-component__form">
    <form class="form__register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="register-form__header"><p class="header__text-node"><i class="fas fa-file-signature"></i>Formularz rejestracyjny</p></div>
      <div class="register-form__input-group">
        <div class="input-group__container">
          <label class="input-group__label" for="name">Nazwa</label>
      <input class="form-control input-group__input" id="name" type="text" name="name" formControlName="name" placeholder="Nazwa"> 
    <div class="text-center input-group__error-container" *ngIf="(regForm.name.dirty || regForm.name.touched) && regForm.name.invalid">
      <p class="text-danger error-container__text-danger" *ngIf="regForm.name.errors.pattern">Proszę uzupełnić poprawnie pole</p>
      <p class="text-danger error-container__text-danger" *ngIf="regForm.name.errors.required">Pole nie może być puste</p>
    </div>  
    </div>
      <div class="input-group__container">
          <label class="input-group__label" for="email">Adres email</label>
      <input class="form-control input-group__input" id="email"type="text" name="email" formControlName="email" placeholder="Adres Email">
      <div  class="text-center input-group__error-container" *ngIf="(regForm.email.dirty || regForm.email.touched) && regForm.email.invalid">
        <p class="text-danger error-container__text-danger" *ngIf="regForm.email.errors.email">Proszę uzupełnić poprawnie email</p>
        <p class="text-danger error-container__text-danger" *ngIf="regForm.email.errors.required">Pole nie może być puste</p>
      </div>  
    </div>
      <div class="input-group__container">
          <label class="input-group__label" for="password">Hasło</label>
      <input class="form-control input-group__input" id="password" type="password" name="password" formControlName="password" placeholder="Hasło"> 
      <div  class="text-center input-group__error-container" *ngIf="(regForm.password.dirty || regForm.password.touched) && regForm.password.invalid">
        <p class="text-danger error-container__text-danger" *ngIf="regForm.password.errors.required">Pole nie może być puste</p>
        <p class="text-danger error-container__text-danger" *ngIf="regForm.password.errors.pattern">Proszę uzupełnić poprawnie hasło np: "Hasło5"</p>
      </div>  
    </div>
      <div class="input-group__container">
          <label class="input-group__label" for="checkpassword">Powtórz hasło</label>
      <input class="form-control input-group__input" id="checkpassword"type="password" name="checkpassword" formControlName="checkpassword" placeholder="Potwierdź hasło">
   
      <div  class="text-center input-group__error-container" *ngIf="(regForm.checkpassword.dirty || regForm.checkpassword.touched) && regForm.checkpassword.invalid">
        <p class="text-danger error-container__text-danger" *ngIf="regForm.checkpassword.errors.required">Pole nie może być puste</p>
      </div>    </div>
      <button class="btn btn-primary register-form__button--submit" type="submit" [disabled]="!registerForm.valid">Zarejestruj</button>
      <div class="text-center input-group__error-container" *ngIf="passwordMatchError">
      <p class="text-danger error-container__text-danger">Hasła muszą być identyczne!</p>
    </div>
    <div *ngIf="register_error" class="input-group__error-container">
      <p class="text-danger error-container__text-danger">{{error_message}}</p>
    </div>
    <div *ngIf="!register_error" class="input-group__error-container">
      <p class="text-success error-container__text-success">{{success_message}}</p>
    </div>
      <p class="input-group__text--question">Masz już konto?</p>
    <a class="input-group__register-link" routerLink="/login">ZALOGUJ SIĘ</a>
    </div>
    </form>
  </div>
</div>