@import '../../../commonStyles/shared';

.newsletter-component {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 4%;
  margin-bottom: 1%;

  @include phone {
    width: 100%;
    padding: 0;
  }

  .newsletter-component__back-button {
    padding-top: 35px;
    width:30%;
    margin: auto;
    @include phone {
      width:95%;
    }
    .back-button__button {
        width:100%;
        min-height: 35px;
        color:#fff;
        border-radius: 50px;
        border: 0;
        background-image: linear-gradient(to right, $bgcolor 0%, lighten($bgcolor, 20%) 51%, $bgcolor 100%);
        transition: all 0.4s ease-in-out;
        background-size: 200%;
        &:hover {
        background-position: 100% 0;
        }
    }
}
  .newsletter-component__main-container {
    @include boxShadow(0px 4px 5px 0px #bbb9bf);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    .datepicker-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top:50px;
      .datepicker__label {
        flex:100%;
        color:darken($bgcolor,10%);
        font-size: 1.2rem;
        margin-top: 40px;
      }
    }
    .main-container__header {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 30px;
      height: 6vh;
      max-height: 60px;
      background-color: $bgcolor;
      border: 0;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      .header__text-node {
        color: #fff;
        font-size: 1.2rem;
      }
    }
    .main-container__newsletter-container {
      display: flex;
      flex-direction: column;
      label {
        color:darken($bgcolor,10%)
      }
      .newsletter-container__type-container {
        display: flex;
        padding-left: 10px;
        @include phone {
          flex-direction: column;
          padding-left: 0;
          align-items: center;
        }
        @include tablet {
          flex-direction: column;
          padding-left: 0;
          align-items: center;
        }
        .btn-newsletter {
          position: relative;
          color:black;
          background:#fff;
          margin-top:5px;
          border:2px solid transparent;          
          z-index: 2;
          transition: all 0.5s ease-in-out;
          @include desktop {
            border-bottom: 0;
            border-radius: 0;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
          }
          @include phone {
            border-radius: 5px;
          }
          &:focus {
            outline: none;
            box-shadow: none;
          }
        }

        .button-type--focus {
          border:2px solid $bgcolor;
          background-color: rgba(41, 128, 185, 0.2);
          @include desktop {
            border-bottom: none;
            border-radius: 0;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
          }
          @include phone {
            border-radius: 5px;
          }
          outline: none;
          box-shadow: none;
        }
        .type-container__type-select {
          margin:5px;
          min-width:150px;
          @include phone {
            width:95%;
          }
        }
      }
      .newsletter-container__form-container {
        z-index: 1;
        display:flex;
        flex-direction: column;
        align-items: center;
        .text-form,.media-form {
          margin:5px;
          margin-top:0;
          height: 300px;
          padding-bottom:40px;
          &__label {
            font-size:1.2rem;
            color:darken($bgcolor,10%);
          }
          
          .text-form__editor {
            
          }
        }

        .datepicker-button {
          display:flex;
          justify-content: center;
          margin-top:50px;
          .btn {
            background-color: darken($bgcolor,10%);
            border:0;
          }
        }

        .button-type--submit {
          border:0;
          width:30%;
          border-radius: 50px;
          background-image: linear-gradient(to right, $bgcolor 0%, lighten($bgcolor,20%) 51%, $bgcolor 100%);
          transition: all .4s ease-in-out;
          background-size: 200%;
          height:35px;
          &:hover {
              background-position: 100% 0;
          }

          @include phone {
            width:95%;
          }
        }

        .button-container {
          display: flex;
          justify-content: center;
          margin-top: 100px;
          padding-bottom: 20px;
        }
        
        .form-container__type {


          &--information,&--product,&--promotion {  
            width:100%;

            .type--information,.type--product,.type--promotion {
              &__text-input {
                width:50%;
                padding:5px 15px;
                @include phone {
                  width:100%;
                }
                .label__required {
                  color:red;
                }
              }
              &__media-form {
                padding-bottom: 40px;
                .media-form__images {
                  display: flex;
                  justify-content: center;
                  margin-top: 10px;
                  .images__label {
                    color:darken($bgcolor,10%);
                    font-size: 1.2rem;
                    padding-right: 5px;
                  }
                }
              }
              &__editor {
                .editor__label {
                  font-size:1.2rem;
                  color:darken($bgcolor,10%);
                }
              }
            }
          }
        }
      }
    }

    .main-container__list-container {
      display: flex;
      flex-direction: column;
      .list-container__type-container {
        display: flex;
        padding-left: 10px;
        justify-content: center;
        @include phone {
          flex-direction: column;
          padding-left: 0;
          align-items: center;
        }
        @include tablet {
          flex-direction: column;
          padding-left: 0;
          align-items: center;
        }
        .btn-newsletter {
          position: relative;
          color:black;
          background:#fff;
          margin-top:5px;
          border:2px solid transparent;          
          z-index: 2;
          transition: all 0.5s ease-in-out;
          @include desktop {
            border-bottom: 0;
            border-radius: 0;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
          }
          @include phone {
            border-radius: 5px;
          }
          &:focus {
            outline: none;
            box-shadow: none;
          }
        }
      }
    }
  }
}
