<div class="container-fluid newsletter-component">
  <div class="newsletter-component__main-container">
    <div class="main-container__header">
      <span class="header__text-node">Newsletter</span>
    </div>
    <div class="main-container__newsletter-container" *ngIf="!isNewsletterList.value">
      <div class="newsletter-container__type-container">
       <div class="type-container__type-select">
        <label for="type">Typ newslettera</label>
        <ngx-select-dropdown name="type" #typeSelect [config]="selectConfig" [options]="typeOptions" (change)="checkForChanges(typeSelect)" [multiple]="false"></ngx-select-dropdown>
       </div>
        <div class="type-container__type-select" >
            <label for="formType">Typ formularza</label>
          <ngx-select-dropdown name="formType" #formTypeSelect [config]="selectConfig" [options]="formTypeOptions" (change)="checkForChanges(formTypeSelect)" [multiple]="false"></ngx-select-dropdown>
        </div>
        <div class="type-container__type-select">
            <label for="sendingType">Strategia wysłania</label>
          <ngx-select-dropdown name="sendingType" #sendingTypeSelect [config]="selectConfig" [options]="sendingTypeOptions" (change)="checkForChanges(sendingTypeSelect)" [multiple]="false"></ngx-select-dropdown>
        </div>
        <div class="type-container__type-select">
            <label for="media">Dodatkowy formularz medii</label>
          <ngx-select-dropdown name="media" #mediaSelect [config]="selectConfig" [options]="mediaOptions" (change)="checkForChanges(mediaSelect)" [multiple]="false"></ngx-select-dropdown>
        </div>
      </div>
      <div class="newsletter-container__form-container">
        <div class="form-container__type--information">

            <div class="type--information__editor" *ngIf="!isText.value" @heightAnimate> 
              <app-grape-editor [editorName]="'infoEditor'"></app-grape-editor>
            </div>
            <div class="type--information__text-form text-form" *ngIf="isText.value" [formGroup]="textForm" @heightAnimate>
                <quill-editor class="text-form__editor" formControlName="text" [modules]="config"></quill-editor>
            </div>
            <div class="type--information__media-form media-form" *ngIf="isMedia.value" [formGroup]="mediaForm" @heightAnimate>
                <quill-editor class="media-form__editor" formControlName="text" [modules]="config"></quill-editor>
                <div class="media-form__images">
                    <label for="images" class=images__label>Zdjęcia :</label>
                    <input type="file" name="images" (change)="onFileSelected($event)" multiple>
                </div>
            </div>
            <div class="type--info__datepicker datepicker-container" [formGroup] = "datePicker" *ngIf="isDatePicker.value" @heightAnimate>
              <p class="datepicker__label text-center">Wybierz czas wysłania newslettera(można zostawić puste)</p>
              <div class="datepicker__date">
                  <ngb-datepicker formControlName="date" (select)="onDateSelect($event)"></ngb-datepicker>
              </div>
              <div class="datepicker__time">
                  <ngb-timepicker formControlName="time"></ngb-timepicker>
              </div>
            </div>
            <div class="type--information__submit-button button-container">
              <button class="submit-button__button--submit btn btn-primary button-type--submit" (click)="sendNewsletter('infoEditor')">Wyśwlij newsletter</button>
            </div>
        </div>
      </div>
    </div>
    <div class="main-container__list-container" *ngIf="isNewsletterList.value">
      <div class="list-container__type-container">
        <div class="type-container__type--show-media" *ngIf="showTextButton()">
          <button class="btn btn-primary btn-newsletter type--change-form__button" (click)="showNewsletterList()">Schowaj listę newsletterów</button>
      </div>
      </div>
      <div class="list-container__list-data">
        datar
      </div>
    </div>
  </div>
</div>